

    <nav class="navbar navbar-light" style="">
      <div class="container">
        <a class="navbar-brand" href="#">
          <h4>Department of</h4>
          <h3>Computer Science & Engineering</h3>
        </a>
        
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>




            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                ACADEMICS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">B.Sc. In Computer Engineering(CEN)</a></li>
                <li><a class="dropdown-item" href="#">B.Sc. In Computer Science(CSC)</a></li>
                <li><a class="dropdown-item" href="#">B.Sc. In Computer Science & Engineering(CSE)</a></li>
                <li><a class="dropdown-item" href="#">M.Sc. In Computer Science(CSC)</a></li>
                <li><a class="dropdown-item" href="#">M.Sc. In Software Engineering(SEN)</a></li>
                <li><a class="dropdown-item" href="#">M.Sc. In Computer Network & Communications(CNC)</a></li>
                <li><a class="dropdown-item" href="#">Minors</a></li>
              </ul>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/profile">My Account</a></li>
                <li><a class="dropdown-item" href="#">Account Setting</a></li>
                <li><a class="dropdown-item" href="#">Insurance</a></li>
              </ul>
            </li>



            <li class="nav-item">
              <a type="button" class="nav-link active btn btn-style " aria-current="page" href="/logout">Sign out</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
