<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><h2>IUB</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="nav navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll justify-content-end" style="--bs-scroll-height: 100px;">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Courses
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Course 1</a></li>
                <li><a class="dropdown-item" href="#">Course 2</a></li>
                <li><a class="dropdown-item" href="#">Course 3</a></li>
                <li><a class="dropdown-item" href="#">Course 4</a></li>
              </ul>
            </li>






            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Attendance
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Course 1 sec 2</a></li>
                <li><a class="dropdown-item" href="#">Course 2 sec 1</a></li>
                <li><a class="dropdown-item" href="#">Course 3 sec 3</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Online Update</a>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/profile">My Account</a></li>
                <li><a class="dropdown-item" href="#">Account Setting</a></li>
                <li><a class="dropdown-item" href="#">Insurance</a></li>
              </ul>
            </li>



            <li class="nav-item">
              <a type="button" class="nav-link active btn btn-style " aria-current="page" href="/logout">Sign out</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
  
  
  
<div class="container" style="text-align: center; margin-top:30px;">
  <h4>Department of</h4>
  <h3>Computer Science & Engineering</h3>
</div>