<!DOCTYPE html>
<html lang="en">
    {{> header }}
  <body>
  
    {{> navbar2 }}

    <div class="container-fluid">
      <h2>User Profile</h2>
      {{!-- <img src="/images/profile.png" /> --}}
      <h3>User Type : {{user.user_type}}</h3>
      <h3>Name : {{user.username}}</h3>
      <h3>Email : {{user.useremail}}</h3>
    </div>
  </body>
</html>